<%- include("partials/head.ejs")%> <%- include("partials/navbar.ejs") %>
<div id="home-container">
  <h1>ORDERS</h1>
  <h4>You have visited this page <%= count %> times.</h4>
</div>
<%- include("partials/footer.ejs") %>
